client/number-detect/detect_demo
client/win32/TuiClient/TuiClient.sdf
client/win32/TuiClient/Debug/*
client/win32/TuiClient/TuiClient/Debug/*
client/win32/TuiClient/Release/*
client/win32/TuiClient/TuiClient/Release/*
client/win32/TuiClient/TuiClient.opensdf