client/number-detect/detect_demo
client/number-detect/main
client/number-detect/demo
client/number-detect/nohup.out
client/win32/TuiClient/TuiClient.sdf
client/win32/TuiClient/Debug/*
client/win32/TuiClient/ipch/*
client/win32/TuiClient/TuiClient/Debug/*
client/win32/TuiClient/Release/TuiClient.pdb
client/win32/TuiClient/shell32.pdb/*
client/win32/TuiClient/TuiClient/Release/*
client/win32/TuiClient/TuiClient.opensdf
client/win32/TuiClient/TuiClient.v12.suo
client/win32/TuiClient/TuiClient/detect.log
client/win32/TuiClient/Release/detect.log
client/win32/TuiClient/Debug/detect.log
